//.city-select {
//  border: none;
//  background: none;
//  padding: 0;
//}
//
//.city-select:hover {
//  cursor: pointer;
//}

.city-select-label {
  padding-right: 10px;
}

.user-dropdown-menu {
  right: 0;
  left: auto;
}

a:hover,
.dropdown-toggle {
  cursor: pointer;
}

//.form-badge {
//  border: 1px solid #333;
//  border-radius: 50px;
//  padding: 0 30px;
//}
