<div class="card sight-card">
  <img class="card-img-top" src="{{sight.photo}}" alt="Place image">
  <div class="card-block">
    <h4 class="card-title sight-card-title">{{sight.name}}</h4>
    <p class="card-text">
      With supporting text below as a natural lead-in to additional content.
    </p>
    <div class="favourites">
      {{sight.popularity}} <i class="fa fa-heart" aria-hidden="true"></i>
    </div>
  </div>
  <button class="btn btn-block btn-outline-primary">
    READ MORE
  </button>
</div>